VITE_SUPABASE_URL=https://aujjdvqwpxzjuotxgljv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1ampkdnF3cHh6anVvdHhnbGp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTI1NzAsImV4cCI6MjA4NTg4ODU3MH0.78ro213FLTf-CVeD66mFzN2AX26k9j3Am7MOsPdhKg4
VITE_OPENROUTER_API_KEY=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
